body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.tarjeta, .contador, .generador-colores, .emojis, .adivinanza {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  flex: 1 1 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tarjeta h1, .tarjeta h2, .tarjeta p, .contador p, .generador-colores button, .emojis p, .emojis button, .adivinanza p, .adivinanza button {
  margin: 10px 0;
}

.generador-colores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
}

.emojis p {
  font-size: 2em;
}

.adivinanza input {
  margin: 10px 0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
